.card{
  margin: 20px;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.shoppingcartStyling{
  width: 90px;
  display: inline-block;
}
.delete{
  color: red;
}

.tablee{
  width: 30%;
}